@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root {
    --accent-red:#ff1a00;
    --dark-bg: #212121; 
    --light-blue-bg: #4a90e2;
    --text-light: #ffffff;
    --text-dark: #333333;
    --primary-red: red;
    --dark-gray: #1e1e1f;

}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
body {
    margin: 0;
    font-family: "Bree Serif", "sans-serif", "Source Code Pro", "Lato", "PT sans";
    padding-top: 50px;
    line-height: 1.6;
    min-height: 2000px;
    overflow: visible;
    overflow-x: hidden;
    background-color: #1e1e1f;
    color: #fff;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.hide-header {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}
/* Set link base styles */
.top-bar a {
    text-decoration: none;
    color: inherit;

}
.top-bar {
    background-color: #212121; 
    color: #ffffff; 
    padding: 30px 50px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1000;
    margin-bottom: 0;
    font-size: 0.9rem;
    transition: transform 0.3s ease;

    


}
.logo {
    height: 120px;
    width: auto;
    display: block;
    margin-right: auto;
    border-left: 3px;
    border-right: 12px;
    position: fixed;
    top: 2px;
    left: 8px;
    padding: 5px;
    
 
   

}
    
.logo-img {
    height: 100px;
    width: auto;
    display: block;
    margin: auto;
    margin-top: 5px;
    object-fit: contain;
    font-size: 500px;
    font-weight: 800px;


}

.logo-link {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    position: relative;


}

.top-nav .nav__links {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
    align-items: center;

}
.nav__links {
    transition: 0.2s;
    padding: 0;

}
.top-nav .nav__links li {
    padding: 0;
}

.top-nav .nav__links li a {
    color: inherit; 
    font-size: 14px; 
    padding-top: 0;
    text-decoration: none; 
    display: flex;
    align-items: center;
    transition: color 0.2s ease; text-decoration: 0.2s ease;
    position: relative;

}
.top-nav .nav__links li a::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-out;
 
}
.top-nav .nav__links li a:hover::after {
    width: 100%; 

}
.main-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    padding: 5px 60px; 
    font-family: sans-serif;
    font-weight: bold;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease;

}
.menu-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 0;
    gap: 15px;
    line-height: 1px;
    flex-wrap: nowrap;
    transition: color 0.3s ease;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
    
}
.menu-links .special-color {
    color: var(--accent-red);
    font-weight: 700;
}
.menu-links li {
    display: flex;
    align-items: center;
    margin: 0 0;
}
.menu-links a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 500 bold;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
    padding: 22px 10px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 3px;
}
.menu-links a:hover {
    color: #ffffff;
}
.menu-links .special-color:hover {
    color: #ffffff;

}
.sale-link {
    color: #212121;
}
.search-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 60px;
}
.search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 25px;
    width: 200px;
    cursor: pointer;
}
.search-box i {
    color: #555;
    margin-right: 8px;
}
.search-box input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    width: 100%;
    cursor: pointer;
}

.icon-links {
    display: flex;
    align-items: center;
    gap: 18px;

}
.icon-links a {
    color: white;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}
.icon-links a:hover {
    color: #ffffff;
}
.cart-icon {
    position: relative;
}
.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #ff1a00;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 50%;
}


.underline-link {
    text-decoration-line: underline !important; 
    text-decoration-thickness: 1px;
    transition-duration: 4s ease-out;

}

.top-nav .nav__links li a i {
    margin-right: 4px; 
    font-size: 18px; 
}
.fa-circle-phone, .fa-circle-dollar-to-slot, .fa-globe {
    font-size: 16px;
}

@media (max-width: 900px) {
    .top-bar, .main-nav {
        flex-direction: column;
        align-items: center;
        gap: 7px;
        
    }

}
.hair-link:hover {
    background-color: black;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: 0.3s;
}
.hair-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 1px; 
    background-color:
    transform: scaleX(0); 
    transition: 0.4s ease-out; 
    border-radius: 50px;
}
.hair-link:hover::after {
    transform: translateY(0); 
}
.custom-link:hover {
    background-color: black;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: 0.2s;
}
.custom-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: #ff1a00; 
    transform: scaleX(0); 
    transition: 0.4s ease-out; 
    border-radius: 50px;
}
.custom-link:hover::after {
    transform: translateY(0); 
}
.accessories-link:hover:hover {
    background-color: black;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: 0.2s;
}
.accessories-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 1px; 
    background-color: #ff1a00; 
    transform: scaleX(0); 
    transition: 0.4s ease-out; 
    border-radius: 50px;
}
.accessories-link:hover::after {
    transform: translateY(0); 
}
.hair-maintenance-link:hover:hover {
    background-color: black;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: 0.2s;
}
.hair-maintenance-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 1px; 
    background-color: #ff1a00; 
    transform: scaleX(0); 
    transition: 0.4s ease-out; 
    border-radius: 50px;
}
.hair-maintenance-link:hover::after {
    transform: translateY(0); 
}
.help-link:hover {
    background-color: black;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: 0.2s;
}
.help-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 1px; 
    background-color: #ff1a00; 
    transform: scaleX(0); 
    transition: 0.4s ease-out; 
    border-radius: 50px;
}
.help-link:hover::after {
    transform: translateY(0); 
}
.about-link:hover {
    background-color: black;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: 0.2s;
}
.about-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 1px; 
    background-color: #ff1a00; 
    transform: scaleX(0); 
    transition: 0.4s ease-out; 
    border-radius: 50px;
}
.about-link:hover::after {
    transform: translateY(0); /

}
.special-color {
    color: var(--text-light);
}
.special-color:hover {
    background-color: black;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: 0.2s;
}
.special-color::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: #ff1a00; 
    transform: scaleX(0); 
    transition: 0.4s ease-out; 
    border-radius: 50px;
    
}
.special-color:hover::after {
    transform: translateY(0); 
    
}
.special-color-item {
    order: 1;
}
.special-color{
    color: #ffffff;

}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.hero-image-container {
    background-image: url(images/image3.png);
    object-fit: cover;
    height: 700px;
    width: 100%;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0px;
    margin-left: 0;
    margin-top: 0px;
 
}
.hero-content-overlay {
    position: absolute;
    bottom: 20%;
    top: 5%;
    left: 5%;
    width: 50%;
    z-index: 10;
    color: white;
    font-family: sans-serif;
    font-size: 3rem;
    padding: 10px;
    margin-bottom: 10px;


}
.hero-content-overlay h1 {
    position: relative;
    top: 10%;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 90px;
    padding: 50px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 0;

}
.subtitle {
    top: 20%;
    left: 60%;
    width: 90%;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top: 2px;
    margin-bottom: 15px;
    margin-left: 0;
    padding-left: 0;
}
.offer-details {
    margin-top: 5px;
    font-size: 3rem;
    font-weight: 200 bold;
    margin-bottom: 25px;
}
.price-off {
    font-size: 3rem;
    color: var(--accent-red);
    font-weight: 700;
    margin-bottom: 5px;
}
.codes {
    font-size: 1rem;
    margin-bottom: 15px;
}
.dates {
    font-size: 0.9rem;
    margin-bottom: 15px;
}
.shop-now-hero-btn {
    background-color: var(--accent-red);
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.shop-now-hero-btn:hover {
    background-color: #cc2900;
    box-sizing: border-box;



}
.left-image-container {
    background-image: url(images/image4.jpg);
    object-fit: cover;
    height: 500px;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: 120%;
    display: flex;
    position: relative;
    padding-top: 3px;
    margin-left: -340px;
    margin-top: 120px;
    border-radius: 6px;
 
}
.left-content-overlay {
    position: absolute;
    bottom: 5px;
    top: 3px;
    left: 290px;
    width: 40%;
    z-index: 10;
    color: white;
    font-family: sans-serif;
    font-size: 3rem;


}
.left-content-overlay h1 {
    position: relative;
    top: 10px;
    font-size: 1rem;
    font-weight: 5px;
    margin-bottom: 0px;
    line-height: 9px;
    padding: 20px;
    line-height: 1.4;
    margin-left: 0;
    padding-left: 0;

}
.left-content-overlay h2 {
    position: relative;
    top: -5px;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 5px;
    margin-bottom: 5px;
    line-height: 80px;
    padding: 20px;
    line-height: 1.4;
    margin-left: 0;
    padding-left: 0;
}
.left-offer-details {
    margin-top: 0px;
    font-size: 3rem;
    font-weight: 200 bold;
    margin-bottom: 25px;
}
.price-off {
    font-size: 3rem;
    color: var(--accent-red);
    font-weight: 700;
    margin-bottom: 5px;
}
.codes {
    font-size: 1rem;
    margin-bottom: 15px;

}
.shop-now-left-btn {
    background-color: var(--dark-gray);
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s;
    margin-top: 220px;
    border-radius: 4px;
}
.shop-now-left-btn:hover {
    background-color: #f01e00;
    box-sizing: border-box;


}
.middle-image-container {
    background-image: url(images/image5.jpg);
    object-fit: contain;
    object-position: center;
    height: 500px;
    width: 530px;
    left: -10px;
    margin: 0;
    padding: 0;
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: -50% contain;
    position: relative;
    padding-top: 3px;
    margin-left: 500px;
    margin-top: -475px;
    border-radius: 6px;
 

}
.middle-content-overlay {
    position: absolute;
    bottom: 5px;
    left: 40px;
    margin-top: -90px;
    width: 70%;
    z-index: 10;
    color: white;
    font-family: sans-serif;
    margin-bottom: 5px;
    top: 40px;
   
}
.middle-content-overlay h1 {
    position: relative;
    top: -65px;
    font-size: 1rem;
    font-weight: 5px;
    margin-bottom: 0px;
    line-height: 9px;
    padding: 20px;
    line-height: 1.7;
    margin-left: 0;
    padding-left: 0;
    top: 45px;

}
.middle-content-overlay h2 {
    position: relative;
    top: 5px;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 5px;
    margin-bottom: 5px;
    line-height: 80px;
    padding: 20px;
    line-height: 1.4;
    margin-left: 0;
    padding-left: 0;
}
.middle-offer-details {
    margin-top: 0px;
    font-size: 3rem;
    font-weight: 200 bold;
    margin-bottom: 25px;
}

.middle-price-off {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 12px;
    line-height: 2px;
}
.codes {
    font-size: 1rem;
    margin-bottom: 15px;

}
.shop-now-middle-btn {
    background-color: var(--accent-red);
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s;
    margin-top: 260px;
    margin-bottom: 5px;
    border-radius: 4px;
}
.shop-now-middle-btn:hover {
    background-color: #aa1c06;
    box-sizing: border-box;
}


.right-image-container {
    background-image: url(images/image6.jpg);
    object-fit: contain;
    object-position: center;
    height: 500px;
    width: 515px;
    left: -10px;
    margin: 0;
    padding: 0;
    background-position: 70% center;
    background-repeat: no-repeat;
    background-size: -50% contain;
    position: relative;
    padding-top: 3px;
    margin-left: 510px;
    margin-top: -485px;
    border-radius: 6px;
 

}
.right-content-overlay {
    position: absolute;
    bottom: 5px;
    left: 40px;
    width: 70%;
    z-index: 10;
    color: white;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: -90px;

}
.right-content-overlay h1 {
    position: relative;
    top: -90px;
    font-size: 1rem;
    font-weight: 5px;
    margin-bottom: 0px;
    line-height: 9px;
    padding: 20px;
    line-height: 1.4;
    margin-left: 0;
    padding-left: 0;

}
.right-content-overlay h2 {
    position: relative;
    top: -110px;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 5px;
    margin-bottom: 5px;
    line-height: 80px;
    padding: 20px;
    line-height: 1.4;
    margin-left: 0;
    padding-left: 0;
}
.right-offer-details {
    margin-top: 0px;
    font-size: 3rem;
    font-weight: 200 bold;
    margin-bottom: 25px;
}
.shop-now-right-btn {
    background-color: var(--dark-gray);
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s;
    margin-top: 140px;
    margin-bottom: 10px;
    border-radius: 4px;

}
.shop-now-right-btn:hover {
    background-color: #f01e00;
    box-sizing: border-box;
}
.your-hair-your-style-container {
    position: relative;
    min-height: 500px; 
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px; 
}
.image-1 {
    background-image: url(images/image1.png);
    object-fit: contain;
    object-position: center;
    height: 600px;
    width: 800px;
    left: 10px;
    margin: 0;
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3px;
    margin-left: -1078px;
    margin-top: 498px;
    border-radius: 0;
 

}
.image-1 h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 200px;
    margin-bottom: 15px;
    margin-top: 120px;
    line-height: 1.3px;
    padding: 20px;
    line-height: 1.4;
    margin-left: 90px;
    padding-left: 0;

}
.image-1 h2 {
    position: relative;
    font-size: 1.1rem;
    font-weight: 1px;
    margin-bottom: 0px;
    margin-top: 20px;
    line-height: 9px;
    padding: 20px;
    line-height: 1.4;
    margin-left: 90px;
    padding-left: 0;
    max-width: 600px;

}
.button-container {
    position: absolute;
    margin-top: 60px;
    bottom: 30px;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    gap: 15px; 
}
.image-1-btn {
    background-color: var(--accent-red);
    color: white;
    padding: 15px 70px;
    position: relative;
    top: -90px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
    border-radius: 4px;
    margin-left: -1225px;
    border: none;

}
.image-1-btn:hover {
    background-color: #fd4a2f;
    box-sizing: border-box;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.online-1-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: relative;
    top: -90px;
    border: 2px solid #ddd;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
    border-radius: 4px;
    
}
.online-1-btn:hover {
    background-color: #c5c5c5;
    border-color: #bbb;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Responsive adjustments */
        @media (max-width: 768px) {
            .image-1 {
                height: 350px;
                padding: 30px;
            }
            
            .image-1 h1 {
                font-size: 2rem;
            }
            
            .image-1 h2 {
                font-size: 1rem;
            }
            
            .button-container {
                flex-direction: column;
                width: 80%;
                bottom: 20px;
            }
            
            .image-1-btn,
            .online-1-btn {
                width: 100%;
                text-align: center;
                margin-top: -130px;
            }
        }
